objs
Shortcut Profiles
Casinfo
Audio Capture
Databases
Keyboard Config
QuickSave
SRAM
Media
Video Capture
Roms
bluemsx.ini
bluemsx-pi
tmp/pulse
bootDisk.dsk
bluemsx-pi-original
./tmp/*
.vscode/*
Zorrico Eng Final.rom
Paco REDUX ENG.rom
FD46.dsk
